<div class="row">
  <img style="col-12" src="ecsite.PNG" alt="DACCHI HOME" width="1200px" height="800px">
</div>

<div style="margin-left:300px;">
 <img  src="ecsite2.PNG" alt="DACCHI HOME" >
</div>

<h1 style="text-align:center;">RANKING</h1>

<ul  style="width: 1000px; overflow: hidden; list-style-type: none; text-align:center;" >
        <li class="img_wrap" style="display: inline;" ><a  href="/products/1" > <%= image_tag "/pen.PNG", width: '24%', height: '24%'%></a></li>
        <li class="img_wrap" style="display: inline;"><a  href="/products/2"><%= image_tag "/pen.PNG", width: '24%', height: '24%'%></a></li>
        <li class="img_wrap"  style="display: inline;"><a  href="/products/3"><%= image_tag "/pen.PNG", width: '24%', height: '24%'%></a></li>
        <li class="img_wrap"  style="display: inline;"><a  href="/products/4"><%= image_tag "/pen.PNG", width: '24%', height: '24%'%></a></li>
</ul>
    


