<div class="row">
  <img style="col-12" src="ecsite.PNG" alt="DACCHI HOME" width="1200px" height="800px">
</div>

<div style="margin-left:300px;">
 <img  src="ecsite2.PNG" alt="DACCHI HOME" >
</div>

<h1 style="text-align:center;">RANKING</h1>

<ul  style="width: 1000px; overflow: hidden; list-style-type: none; text-align:center;" >
        <li class="img_wrap" style="display: inline;"><a  href="/products/1"> <img src="pen.PNG" alt="DACCHI HOME"  width="220px" height="220px"></a></li>
        <li class="img_wrap" style="display: inline;"><a  href="/products/2"> <img src="clock.PNG" alt="DACCHI HOME" width="220px" height="220px"></a></li>
        <li class="img_wrap"  style="display: inline;"><a  href="/products/3"> <img src="tennis ball.PNG" alt="DACCHI HOME" width="220px" height="220px"></a></li>
        <li class="img_wrap"  style="display: inline;"><a  href="/products/4"> <img src="shoes.PNG" alt="DACCHI HOME" width="220px" height="220px" ></a></li>
</ul>
    


