        <!--wrapperここまで-->
        <!--ここからフッター-->
        <footer style="background-color: #956840; text-align: center;">
            <div id="footer_navi">
                <ul>
                    <li style="font-size:30px; list-style:none;" class="nav-item "><a href="https://www.instagram.com/forbis_recruit/?hl=ja" class="nav-link text-black-50"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            
            <div >
              <a class="navbar-brand " href="/"> <%= image_tag "/dacchi2.PNG", :alt => 'Flower Photo' %></a>
            </div>
            
            <small>&copy; 2021 TechAcademy Lesson16.</small>
        </footer>
        <!--フッターここまで-->
        